
/*portfolio section*/

.portfolio-item{
    margin-bottom: 25px;
    padding: 20px;
}

.layer-content{
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
}

.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}

.portfolio-item .mg{
    margin: 0 5%;
}

.layer-info{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category{
    color: var(--mainColor);
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0s;
}

.layer-content-title{
    color: var(--whiteColor);
    font-size: 20px;
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.3s;
}

.layer-info a{
    top: 10px;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.5s;
}

.portfolio-item:hover .layer-content-title, 
.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content a{
    top: 0;
    opacity: 1;
    visibility: visible;
}

.layer-info i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: var(--whiteColor);
    background-color: var(--mainColor);
}
