:root{
    --lightGray: #f9f9f9;
}


.mg-bottom-5{
    margin-bottom: 5px;
}

.mg-bottom-10{
    margin-bottom: 10;
}

.mg-bottom-15{
    margin-bottom: 15;
}

.mg-bottom-20{
    margin-bottom: 20px;
}

.bg-gray{
    background-color: var(--lightGray);
}

.uppercase{
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.float-left{
    float: left;
}

.overflow-hidden{
    overflow: hidden;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.text-center{
    text-align: center;
}

.margin-auto{
    margin: auto;
}

.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block;
}

.width-100{
    width: 100%;
}

.width-80{
    width: 80%;
}

.width-50{
    width: 50%;
}

.width-30{
    width: 30%;
}

.opacity-visibility{
    opacity: 0;
    visibility: hidden;
}